# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [7]:
salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
salaries.columns = salaries.columns.str.lower().str.replace(' ', '_')

Examine the `salaries` dataset using the `head` function below.

In [8]:
salaries.head()

,name,job_titles,department,full_or_part-time,salary_or_hourly,typical_hours,annual_salary,hourly_rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [9]:
salaries.isnull().sum()

name                     0
job_titles               0
department               0
full_or_part-time        0
salary_or_hourly         0
typical_hours        25528
annual_salary         8174
hourly_rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [24]:
print(salaries['salary_or_hourly'].unique())
type_counts = salaries['salary_or_hourly'].value_counts()
type_counts

['Salary' 'Hourly']

salary_or_hourly
Salary    25528
Hourly     8174
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [25]:
print(salaries['department'].unique())
dept_counts = salaries['department'].value_counts()
dept_counts

['FIRE' 'POLICE' 'FAMILY & SUPPORT' 'WATER MGMNT' 'AVIATION' 'TRANSPORTN'
 'STREETS & SAN' 'FINANCE' 'LAW' 'CITY COUNCIL' 'DAIS' 'OEMC' 'COPA'
 'HEALTH' 'BUSINESS AFFAIRS' 'HUMAN RESOURCES' 'PUBLIC LIBRARY'
 'CULTURAL AFFAIRS' 'HOUSING' 'PROCUREMENT' 'BUILDINGS' 'ANIMAL CONTRL'
 'CITY CLERK' 'HOUSING & ECON DEV' 'BOARD OF ELECTION'
 'PUBLIC SAFETY ADMIN' 'DISABILITIES' 'INSPECTOR GEN' 'HUMAN RELATIONS'
 "MAYOR'S OFFICE" 'TREASURER' 'BUDGET & MGMT' 'BOARD OF ETHICS'
 'POLICE BOARD' 'ADMIN HEARNG' 'LICENSE APPL COMM']

department
POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [43]:
import scipy.stats as stats
from scipy.stats import ttest_1samp

#H0 = mean hourly wage = 30$
#H1 = mean hourly wage <> 30$

alpha = 0.05
stat, pval = ttest_1samp(salaries['hourly_rate'].dropna(), 30)
print('stat is equal to ', stat)
print('pvalue is equal to', pval)

if alpha > pval:
    print('Mean hourly wage is significantly different than 30$')
else:
    print('Mean hourly wage is NOT significantly different than 30$')

stat is equal to  31.211500329216044
pvalue is equal to 3.825475847673794e-202
Mean hourly wage is significantly different than 30$

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [44]:
#H0 = mean annual salary >= 86000$
#H1 = mean annual salary < 86000$

alpha = 0.05
stat, pval = ttest_1samp(salaries[salaries['department'] == 'POLICE']['annual_salary'].dropna(), 86000)
print('stat is equal to ', stat)
print('pvalue is equal to', pval/2)

if alpha > pval/2:
    print('Mean annual salary is higher than 86000$')
else:
    print('Mean annual salary is lower than or equal to 86000$')

stat is equal to  18.51748561981861
pvalue is equal to 6.119566952121482e-76
Mean annual salary is higher than 86000$

Using the `crosstab` function, find the department that has the most hourly workers.

In [45]:
dept_salary = pd.crosstab(salaries['department'], salaries['salary_or_hourly'])
display(dept_salary)
print(dept_salary['Hourly'].idxmax())

salary_or_hourly     Hourly  Salary
department
ADMIN HEARNG              0      38
ANIMAL CONTRL            12      63
AVIATION               1214     642
BOARD OF ELECTION         0     111
BOARD OF ETHICS           0       8
BUDGET & MGMT             2      42
BUILDINGS                 0     258
BUSINESS AFFAIRS          7     160
CITY CLERK                0      88
CITY COUNCIL             74     288
COPA                      0     123
CULTURAL AFFAIRS         10      64
DAIS                    745     288
DISABILITIES              1      27
FAMILY & SUPPORT        357     299
FINANCE                  45     499
FIRE                      0    4627
HEALTH                    2     465
HOUSING                   0      66
HOUSING & ECON DEV        3     151
HUMAN RELATIONS           0      17
HUMAN RESOURCES           0      75
INSPECTOR GEN             0      95
LAW                      48     350
LICENSE APPL COMM         0       1
MAYOR'S OFFICE           17      87
OEMC                   1077     660
POLICE                   24   13824
POLICE BOARD              0       2
PROCUREMENT               2      82
PUBLIC LIBRARY          356     732
PUBLIC SAFETY ADMIN      48     196
STREETS & SAN          1846     329
TRANSPORTN              726     387
TREASURER                 0      28
WATER MGMNT            1558     356

STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [47]:
#H0 = mean hourly wage of streets & san department is >= 35$
#H1 = mean hourly wage of streets & san department is < 35$

stat, pval = ttest_1samp(salaries[salaries['department'] == 'STREET & SAN']['hourly_rate'].dropna(), 35)
print('stat is equal to ', stat)
print('pvalue is equal to', pval/2)


if alpha > pval/2:
    print('Mean hourly wage of streets & san department is higher than 35$')
else:
    print('Mean hourly wage of streets & san department is lower than or equal to 35$')

stat is equal to  nan
pvalue is equal to nan
Mean hourly wage of streets & san department is lower than or equal to 35$

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [58]:
hourly_rates = salaries[salaries['salary_or_hourly'] == 'Hourly']['hourly_rate'].dropna()

mean_hourly = hourly_rates.mean()

std_hourly = hourly_rates.std()
std_error_hourly_rate = std_hourly / ((len(hourly_rates)-1) ** 0.5)
std_error_hourly_rate2 = scipy.stats.sem(hourly_rates)

print(mean_hourly)
print(std_error_hourly_rate)
print(std_error_hourly_rate2)

confidence_level = 0.95
conf_interval = stats.t.interval(confidence_level, len(hourly_rates) - 1, mean_hourly, std_error_hourly_rate)

print('confidence interval:', conf_interval )

34.58644971862002
0.1469564182145889
0.14694742867989574
confidence interval: (34.298377770269276, 34.87452166697076)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [61]:
display(salaries[(salaries['salary_or_hourly'] == 'Salary') & (salaries['department'] == 'POLICE')])

salary_police = salaries[(salaries['salary_or_hourly'] == 'Salary') & (salaries['department'] == 'POLICE')]['annual_salary'].dropna()
mean_salary_police = salary_police.mean()
std_salary_police = salary_police.std()

conf_interval2 = stats.t.interval(confidence_level, len('salary police'), mean_salary_police, std_salary_police)
print('confidence interval:', conf_interval2 )

,name,job_titles,department,full_or_part-time,salary_or_hourly,typical_hours,annual_salary,hourly_rate
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN
...,...,...,...,...,...,...,...,...
33696,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
33697,"ZYLINSKA, KLAUDIA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33698,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
33699,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33700,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

confidence interval: (49958.18957981626, 127710.04826740596)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: